.TalentTree {
  font-family: Verdana, sans-serif;
  background: var(--col-background);
  border: 1px solid var(--col-background);
  border-radius: 2px;
  margin: var(--sp-sm);
}

.TalentTree-header {
  margin: var(--sp-xs);
  display: flex;
  align-items: center;
}

.TalentTree-icon {
  margin-right: var(--sp-sm);
}

.TalentTree-name {
  color: white;
  margin-bottom: var(--sp-xs);
}

.TalentTree-pointsSpent {
  font-size: 0.75rem;
  color: var(--col-yellow);
}

.TalentTree-grid {
  display: inline-grid;
  padding: var(--sp-md);
  grid-template-columns: repeat(9, var(--icon-size));
  grid-template-rows: repeat(9, var(--icon-size));
  grid-gap: var(--sp-md);
  background-size: cover;

  grid-template-areas:
    "a1 a2 a3 a4 a5 a6 a7 a8 a9"
    "b1 b2 b3 b4 b5 b6 b7 b8 b9"
    "c1 c2 c3 c4 c5 c6 c7 c8 c9"
    "d1 d2 d3 d4 d5 d6 d7 d8 d9"
    "e1 e2 e3 e4 e5 e6 e7 e8 e9"
    "f1 f2 f3 f4 f5 f6 f7 f8 f9"
    "g1 g2 g3 g4 g5 g6 g7 g8 g9"
    "h1 h2 h3 h4 h5 h6 h7 h8 h9"
    "i1 i2 i3 i4 i5 i6 i7 i8 i9";
}
